#contact {
    height : 100%;
    width : 100%;
    color:white;
    position: relative;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(48,48,48);
    padding : 2%
}

#contact div{
    display : flex;
    flex-direction: column;
    text-align: left;
}

#contact div a {
    color: grey;
}

#contact div a:link {
   text-decoration: none;
}

#contact div a:visited {
   text-decoration: none;
}

#contact div a:hover {
   text-decoration: none;
   color: white;
   transition: color 320ms;
   transform: translateX(0px); 
}

#contact div a:active {
   text-decoration: none;
}