:root {
   --menu-width-negative: -325px;
   --menu-width-positive: 325px;
}

#menu {
   background-color: #e8e3c0;
   position: fixed;
   height: 100%;
   width: 88px;
   transform: translateX(-8px);
   transition: transform 300ms;
   z-index: 10;
}

#menu:hover {
   transform: translateX(0px);
}

#menu-content {
   background-color: #f2f2f2;
   display: block;
   position: fixed;
   height: 100%;
   width: var(--menu-width-positive);
   padding: 20px 10px 20px 10px;
   transform: translateX(var(--menu-width-negative));
   z-index: 9;
}

#menu-button-container {
   position: fixed;
   top: 45%;
   left: 22px;
   width: 60px;
   height: 60px;
}

.menu-closed {
   animation: menu-slide-out 0.5s ease-out;
   animation-fill-mode: forwards;
}

.menu-opened {
   animation: menu-slide-in 0.5s ease-out;
   animation-fill-mode: forwards;
   /* Animation fill mode permet de garder la position du menu aprés l'animation */
}

@keyframes menu-slide-in {
   0% {
      transform: translateX(var(--menu-width-negative));
   }
   100% {
      transform: translateX(80px);
   }
}

@keyframes menu-slide-out {
   0% {
      transform: translateX(80px);
   }
   100% {
      transform: translateX(var(--menu-width-negative));
   }
}


/* INSIDE MENU CONTENT */

#menu-links {
   width: 100%;
   overflow: hidden;
   margin-top: 50px;
}

.menu-links-items {
   display: block;
   margin: 0 auto;
   width: 80%;
   height: 50px;
   font: bold 20px "Roboto";
   background-color: #f9d7a9;
   margin-top: 40px;
   line-height: 50px;
   text-align: center;
   transition: background-color 320ms;
   transform: translateX(0px);
}

.menu-links-items-left {
   transform: translateX(-400px);
}

.menu-links-items-right {
   transform: translateX(400px);
}

.menu-links-items:hover {
   background-color: #ddbf96;
}

#menu-logo {
   width: 150px;
   height: 150px;
}

#menu-logo-img {
   width: 100%;
   height: 100%;
   background-image: url("../img/logo.png");
   background-size: cover;
   /*transform: trans*/
}

.menu-logo-img-slide-in {
   animation: menu-logo-img-slide-in 0.6s ease-out;
   /*animation-fill-mode: forwards;*/
}