:root {
   --menu-width-negative: -325px;
   --menu-width-positive: 325px;
}

@font-face {
   font-family: Helvetica-Light;
   src: url(Font/helvetica-light.ttf);
}

body{
    font-family: Helvetica-Light;
    margin : 0;
}

#menu {
   background-color: white;
   position: fixed;
   height: 100%;
   width: 88px;
   transform: translateX(-8px);
   transition: transform 300ms;
   z-index: 10;
   -webkit-box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

#menu:hover {
   transform: translateX(0px);
}

#menu-content {
   background-color: #f2f2f2;
   display: block;
   position: fixed;
   height: 100%;
   width: var(--menu-width-positive);
   padding: 20px 10px 20px 10px;
   transform: translateX(var(--menu-width-negative));
   z-index: 9;
   -webkit-box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

#menu-button-container {
   position: fixed;
   top: 45%;
   left: 22px;
   width: 60px;
   height: 60px;
}

.menu-closed {
   animation: menu-slide-out 0.5s ease-out;
   animation-fill-mode: forwards;
}

.menu-opened {
   animation: menu-slide-in 0.5s ease-out;
   animation-fill-mode: forwards;
   /* Animation fill mode permet de garder la position du menu aprés l'animation */
}

@keyframes menu-slide-in {
   0% {
      transform: translateX(var(--menu-width-negative));
   }
   100% {
      transform: translateX(80px);
   }
}

@keyframes menu-slide-out {
   0% {
      transform: translateX(80px);
   }
   100% {
      transform: translateX(var(--menu-width-negative));
   }
}


/* INSIDE MENU CONTENT */

#menu-links {
   width: 100%;
   overflow: hidden;
   margin-top: 50px;
}
#menu-links a {
    color: grey;
}

#menu-links a:link {
   text-decoration: none;
}

#menu-links a:visited {
   text-decoration: none;
}

#menu-links a:hover {
   text-decoration: none;
   color: black;
   transition: color 320ms;
   transform: translateX(0px);
   
   
}

#menu-links a:active {
   text-decoration: none;
}

.menu-links-items {
   display: block;
   margin: 0 auto;
   width: 80%;
   height: 50px;
   font: bold;
   font-size: 20px;
   color : grey;
   margin-top: 40px;
   line-height: 50px;
   text-align: right;
   cursor : pointer;
   transition: color 320ms;
   transform: translateX(0px);
}

.menu-links-items-left {
   transform: translateX(-400px);
}

.menu-links-items-right {
   transform: translateX(400px);
}


#menu-logo {
   width: 150px;
   height: 150px;
}

#menu-logo-img {
   width: 100%;
   height: 100%;
   background-image: url("../img/logo.png");
   background-size: cover;
   /*transform: trans*/
}

.menu-logo-img-slide-in {
   animation: menu-logo-img-slide-in 0.6s ease-out;
   /*animation-fill-mode: forwards;*/
}

#menu-links-reseaux {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top : 50%;
}

#menu-links-reseaux a{
    display : flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width : 100%;
}

#logo-facebook {
    height : 60%;
    width : 60%;
    border-radius: 15%;
    margin-right: 2%;
}

#logo-telephone {
    height : 60%;
    width : 60%;
    border-radius: 5px;
}


#logo-twitter {
    height : 60%;
    width : 60%;
    border-radius: 5px;
    margin-right: 2%;
}

.fa {
    font-size : 3vw;
  transition: all .125s ease-in-out;
}

@-moz-keyframes bump {
  33% {
    -moz-transform: scale(1.3);
  }
  66% {
    -moz-transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1.0);
  }
}

@-webkit-keyframes bump {
  33% {
    -webkit-transform: scale(1.3);
  }
  66% {
    -webkit-transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.0);
  }
}

@keyframes bump {
  33% {
    transform: scale(1.3);
  }
  66% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.0);
  }
}

.fa-facebook:hover {
  color: #3B5998;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-phone:hover {
  color: green;
}

#menu-links-reseaux > a > span:hover {
  -webkit-animation: bump .25s ease-in-out;
  -moz-animation: bump .25s ease-in-out;
  animation: bump .25s ease-in-out;
  cursor:pointer;
}