#programme {
   font-family: var(--font);
   background-image: url(../img/programmebgd.jpg);
   background-size: cover;
   background-clip : border-box; 
   background-repeat: no-repeat;
   background-position: bottom;
   color: white;
   position: relative;
}

.programme1-container {
  background-color : rgba(0,0,0,0.5);
  background-size: 100%;
  padding: 20px 10px 20px 60px;
}

.programme2-container {
  background-color : rgba(0,0,0,0.5);
  background-size: 100%;
  padding: 20px 10px 20px 60px;
}

.imgp {
  width: 130px;
  height: 130px;
  display: flex;
}

.custom-counter {
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  margin-bottom: 5px;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 30%;
  background-color: rgb(0,200,200);
  color: rgb(0,200,200);
  font-weight: bold;
  padding: 4px 4px;
  border-radius: 3px;
}
