#programme .text-title {
   text-align: center;
   color: white;
}


#programme {
   background-image: url("../img/programmebgd.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: bottom;
   padding-top: 2%;
   height: 100%;
   width: 100%;
   align-content: center;
   position: relative;
   padding-right: 2%;
   padding-left: 7%;
   padding-bottom: 2%;
}

.programme1-container {
   height: 420px;
   opacity: 0.8;
   padding-right: 2%;
}

.presentation {
   padding-top: 5px;
   padding-left: 50px;
   height: 380px;
   width: 250px;
   background-color: #FFA53A;
}

.presentation1 {
   padding-top: 20px;
   height: 380px;
   width: 255px;
   background-color: #FFA53A;
}

.programme2-container {
   height: 250px;
   padding-right: 2%;
   opacity: 0.8;
}

.presentation2 {
   padding-top: 13px;
   height: 200px;
   background-color: #FFA53A;
}

.presentation3 {

}