#questionnaire-container {
   font-family: Helvetica-Light;
   height: 100%;
   width: 100%;
   align-content: center;
   background: white;
   position: relative;
   padding: 0px 10px 20px 10px;
}

#questionnaire {
   font-family: Helvetica-Light;
   height: 100%;
   width: 100%;
   background-color: papayawhip;
   -webkit-box-shadow: 0px 9px 78px -10px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0px 9px 78px -10px rgba(0, 0, 0, 0.75);
   box-shadow: 0px 9px 78px -10px rgba(0, 0, 0, 0.75);
   padding: 2%;
}

#questionnaire-questions-row {
   padding: 0 15px 0 15px;
}

.question {
   padding-top: 20px;
}

.question-text {
   color: black;
   font-family: Helvetica-Light;
   font-size: 20px;
   text-align: center;
}

.question-answer {
   font-size: 18px;
   color: white;
   width: 30%;
   margin: 0 5px 0 5px;
   padding: 5px 5px 5px 5px;
   text-align: center;
   background-color: #96315d;
   transition: background-color 400ms;
   animation-duration: 600ms;
}

.question-answer-alive:hover {
   background-color: #c6417b;
}

.question-wrong {
   background-color: #d34339 !important;
}

.question-right {
   background-color: #91e234 !important;
}

.question-disabled {
   background-color: #a3a3a3;
}

.responses-validation {
   text-align: center;
}

#button-correction {
   text-align: center;
   margin-top: 10%;
}