#questionnaire {
    font-family: Helvetica-Light;
    background: linear-gradient(to bottom left, rgb(40, 40, 40), rgb(53, 56, 58));
    position: relative;
    height: 110vh;
    width: 100%;
}

#questionnaire-container {
    font-family: Helvetica-Light;
    height: 100%;
    width: 100%;
    align-content: center;
    position: relative;
    padding: 20px 10px 20px 10px;
}

#questionnaire-questions-container {
    padding: 0 15px 0 15px;
    height: 40%;
}

#questionnaire-title {
    font-family: Helvetica-Light;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    font-weight: lighter;
}

#questionnaire-icon img {
    height: 120px;
    width: 120px;
    position: center;
    margin-right: 30px;
}

#questionnaire-progress {
    width: 0%;
}

.question {
    padding: 10px 10px 20px 10px;
    height: 400px;
    transform: translateX(1500px);
    transition: transform 1s ease-in;
}

.question-text {
    color: black;
    font-family: Helvetica-Light;
    font-size: 20px;
    text-align: center;
    height: 50px;
    margin-bottom: 15px;
}

.question-answers {
    display: block;
    margin: 0 auto;
}

.question-inner {
    background-color: rgb(159, 233, 252);
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    height: 100%;
}

.question-answer {
    height: 80px;
    line-height: 60px;
    font-size: 18px;
    width: 46%;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    transition: background-color 400ms;
    animation-duration: 600ms;
}

.question-answer-alive:hover {
    background-color: lightgray;
}

.question-answer-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.question-wrong {
    background-color: #d34339 !important;
}

.question-right {
    background-color: #91e234 !important;
}

.question-right-fail {
    background-color: #598922 !important;
}

#questionnaire-correction {
    background-color: white;
    height: 150px;
}

#questionnaire-next-container {
    background-color: yellow;
    height: 150px;
}

#questionnaire-solution {
   visibility: hidden;
   animation-duration: 1.5s;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}