#questionnaire {
   font-family: Helvetica-Light;
   background: linear-gradient(to bottom left, rgb(40, 40, 40), rgb(53, 56, 58));
   position: relative;
   height: 105vh;
   width: 100%;
   padding: 10px 10px 10px 10px;
}

#questionnaire-container {
   font-family: Helvetica-Light;
   height: 100%;
   width: 100%;
   align-content: center;
   position: relative;
   padding: 20px 10px 20px 10px;
}

#questionnaire-questions-container {
   padding: 0 15px 0 15px;
}

#questionnaire-title {
   font-family: Helvetica-Light;
   display: flex;
   text-align: center;
   justify-content: center;
   color: white;
   margin-bottom: 20px;
   font-weight: lighter;
}

#questionnaire-icon img {
   height: 120px;
   width: 120px;
   position: center;
   margin-right: 30px;
}

#questionnaire-progress {
   width: 0%;
}

.question {
   padding: 10px 10px 20px 10px;
   transform: translateX(1500px);
   transition: transform 1s ease-in;
}

.question-text {
   color: black;
   font-family: Helvetica-Light;
   font-size: 25px;
   text-align: center;
   margin-bottom: 10px;
}

.question-answers {
   display: block;
   margin: 0 0 0 10px;
}

.question-inner {
   background-color: #c7ddd3;
   padding: 15px 15px 15px 15px;
   border-radius: 10px;
   height: 100%;
}

.question-answer {
   height: 100px;
   line-height: 60px;
   padding: 0;
   font-size: 22px;
   width: 46%;
   margin: 25px 25px 25px 7px;
   text-align: center;
   background-color: white;
   transition: background-color 400ms;
   animation-duration: 600ms;
}

.question-answer-alive:hover {
   background-color: lightgray;
}

.question-answer-letter {
   padding: 0;
   width: 20%;
   height: 100%;
   background-color: #e0d318;
   border: 1px solid black;
   border-right: none;
   font: 28px bold Roboto;
   color: black;
   text-align: center;
   line-height: 90px;
   vertical-align: middle;
}

.question-answer-text {
   width: 80%;
   height: 100%;
   position: absolute;
   padding: 0;
   margin: 0 0 0 20%;
   border: 1px solid black;
   font: 28px bold Roboto;
   color: black;
   text-align: center;
   line-height: 90px;
   vertical-align: middle;
}

.question-wrong {
   background-color: #d34339 !important;
}

.question-right {
   background-color: #91e234 !important;
}

.question-right-fail {
   background-color: #598922 !important;
}

#questionnaire-solution {
   visibility: hidden;
   animation-duration: 1s;
   margin: 0;
   padding: 20px 20px 20px 20px;
   max-height: 300px;
   min-height: 150px;
}

#questionnaire-correction {
   padding: 20px 20px 20px 20px;

   background-color: white;

   font: 24px bold Helvetica-Light;
   text-align: center;
   overflow: scroll;
}

#questionnaire-next-container {
   padding: 3% 0 0 10%;
   text-align: center;
}

/* Fléche de changement de question */

#next {
   animation: arrow-bounce 1.3s infinite ease-in-out;
   transform: translateY(0px);
   font-size: 50px;
   color: white;
   transition: color 500ms;
}

#next:hover {
   color: #bec4c2;
}

@keyframes arrow-bounce {
   0% {
      transform: translateX(0px);
   }
   50% {
      transform: translateX(-12px);
   }
   100% {
      transform: translateX(0px);
   }
}

.unselectable {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}