@font-face {
    font-family: Helvetica-Light;
    src: url(Font/helvetica-light.ttf);
}

html, body {
	font-family: Helvetica-Light;
	width: 100%;
	height: 100%;
}

#fond {
	background : -webkit-linear-gradient(rgb(243, 173, 0), rgb(241, 81, 57));
	height : 960px;
	align-content: center;
	text-align: center;
	padding-top: 15%;
}

#titre {
	color : white;
	font-size: 70px;
}


#slogan {
	color : white;
	font-size: 50px;
	font-weight: lighter;
}

#fleche {
    height: 200px;
    position: relative;
    width: 200px;
	align-content: center;
	text-align: center;
	margin : auto;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}