@font-face {
   font-family: Helvetica-Light;
   src: url(Font/helvetica-light.ttf);
}

body {
   font-family: Helvetica-Light;
   width: 100%;
   height: 100%;
}

.container-fluid {
   padding-right: 0;
}

#pages-container {
   width: 100%;
   padding-left: 82px;
   /*SE BASE SUR LA TAILLE DU MENU, EVOLUE DANS LES MEDIA QUERIES*/
}


/* Style accueil container */

#accueil {
   background: -webkit-linear-gradient(top right, rgb(241, 94, 151), rgb(243, 173, 0));
   background: -moz-linear-gradient(top right, rgb(241, 94, 151), rgb(243, 173, 0));
   background: -o-linear-gradient(top right, rgb(241, 94, 151), rgb(243, 173, 0));
   background: linear-gradient(to bottom left, rgb(241, 94, 151), rgb(243, 173, 0));
   height: 100vh;
   width: 100%;
   align-content: center;
   text-align: center;
   position: relative;
   padding: 15vh 0px 0px 0px;
}

#accueil-title {
   color: white;
   font-size: 70px;
   margin-top: 30px;
}

#accueil-slogan {
   color: white;
   margin: 15px 0px 0px 0px;
   padding: 0px 20px 0px 20px;
   font-size: 50px;
   font-weight: lighter;
   flex-wrap: wrap;
}

#page-scroll-container {
   margin: 0;
   width: 100%;
   height: 70px;
   bottom: 0px;
   position: absolute;
}

.arrow {
   animation: arrow-bouncing 1s infinite ease-in-out;
   height: 50px;
   width: 50px;
   transform: translateY(0px);
   margin-top: 20px;
}

@keyframes arrow-bouncing {
   0% {
      transform: translateY(0px);
   }
   50% {
      transform: translateY(-20px);
   }
   100% {
      transform: translateY(0px);
   }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #888;
    width: 350px;
}

.modal-content p {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin: auto;
}

#modalphone {
    color:green;
    margin : 2%;
    font-size: xx-large;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-dialog {
    z-index:11;
}

textarea {
    resize: none;
}