@font-face {
   font-family: Helvetica-Light;
   src: url(Font/helvetica-light.ttf);
}

body {
   font-family: Helvetica-Light;
   width: 100%;
   height: 100%;
}

.container-fluid {
   padding-right: 0;
}

#pages-container {
   width: 100%;
   padding-left: 82px;
   /*SE BASE SUR LA TAILLE DU MENU, EVOLUE DANS LES MEDIA QUERIES*/
}


/* Style accueil container */

#accueil {
   background: -webkit-linear-gradient(top right, rgb(241, 94, 151), rgb(243, 173, 0));
   background: -moz-linear-gradient(top right, rgb(241, 94, 151), rgb(243, 173, 0));
   background: -o-linear-gradient(top right, rgb(241, 94, 151), rgb(243, 173, 0));
   background: linear-gradient(to bottom left, rgb(241, 94, 151), rgb(243, 173, 0));
   height: 100vh;
   width: 100%;
   align-content: center;
   text-align: center;
   position: relative;
   padding: 15vh 0px 0px 0px;
}

#accueil-title {
   color: white;
   font-size: 70px;
   margin-top: 30px;
}

#accueil-slogan {
   color: white;
   margin: 15px 0px 0px 0px;
   padding: 0px 20px 0px 20px;
   font-size: 50px;
   font-weight: lighter;
   flex-wrap: wrap;
}

#page-scroll-container {
   margin: 0;
   width: 100%;
   height: 70px;
   bottom: 0px;
   position: absolute;
}

.arrow {
   animation: arrow-bouncing 1s infinite ease-in-out;
   height: 50px;
   width: 50px;
   transform: translateY(0px);
   margin-top: 20px;
}

@keyframes arrow-bouncing {
   0% {
      transform: translateY(0px);
   }
   50% {
      transform: translateY(-20px);
   }
   100% {
      transform: translateY(0px);
   }
}